
    <strong class="box_Font">Commenter: </strong>
    <%= comment.commenter %>

    <strong class="box_Font">Comment: </strong>
    <%= comment.body %>

<p>
    <%= link_to 'Destroy Comment', [comment.recipe, comment], 
                method: :delete, 
                data: { confirm: 'Are you sure?' } %>
</p>