<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p>
    <%= 'Destroy Comment', [comment.recipe, comment],
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
</p>